.border-bottom {
    border-bottom: 1px solid rgba(255, 255, 255, 0.5333333333);
}

.border-top {
    border-top: 1px solid rgba(255, 255, 255, 0.5333333333);
}

.border-left {
    border-left: 1px solid rgba(255, 255, 255, 0.5333333333);
}

.border-right {
    border-right: 1px solid rgba(255, 255, 255, 0.5333333333);
}