$font-family: 'REM', sans-serif;

$background-color: rgb(16 16 17);
$background-color-lighten: rgb(24 24 27 / 80%);
$font-color: #ccc;

$danger: rgb(252, 51, 51);
$success: rgb(58, 240, 58);
$theme: #0099ff;
$atomic: rgb(250, 250, 67);
$green: rgb(23, 131, 23);
$magic: rgb(177, 29, 177);
$orange: rgb(250, 109, 27);