.password-strenth {
    margin-top: 16px;
    display: block;

    &.password-weak {
        color: $danger;
    }

    &.password-moderate {
        color: $atomic;
    }

    &.password-strong {
        color: $success;
    }

    &.password-very-strong {
        color: $green;
    }

    &.password-unbeatable {
        color: $theme;
    }
}